<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <title>Dashboard</title>

    <!-- Styles -->
    <style>
        td {
            word-break: break-all;
        }

    </style>
</head>
<body>

<!-- Header -->
<!-- Include the header partial -->
<partial name="_Header" />

<!-- Navbar -->
<!-- Include the navbar partial -->
<partial name="_TopNavigation" />

<!-- Left Sidebar -->
<!-- Include the left-sidebar partial -->
<partial name="_MainNavigation" />

<!-- Content Wrapper. Contains page content -->
<section class="content">
    @RenderBody()
</section>

<footer>
    <!-- Include the footer partial -->
    <partial name="_Footer" />
</footer>
</body>
</html>